body {
    background-image: url(../images/rocky.jpg);
    cursor: url(../images/cursor-icon.png);
    font-family: 'Bungee Hairline', monospace !important;
}

.navbar {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.jumbotron {
    background-color: #343a40;
    color: #fff;
    font-family: 'Ewert';
    font-size: 100px;
}

.instructions {
    font-family: 'Bungee Hairline', monospace;
    font-size: 24px;
    margin-top: 40px;
}

header {
    width: 100%;
    margin: 0 auto;
    }

.container {
    margin: 75px;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
}

.btn {
    width: 100%;
    margin: 0 auto;
}

.scoreBoard {
    font-family: 'Bungee Hairline', monospace;
    color: #fff;
    background-color: #343a40;
    border: 1px solid #fff;
    text-align: center;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 150%;
}

.score {
    font-family: 'Ewert', monospace;
    font-size: 60px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #aaa;
}

footer {
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    color: #fff;
    border-top: 1px solid #fff;
    text-align: center;
    padding: 20px;
}