/* Apple custom background and font to site */
body {
    background-image: url(../images/rocky.jpg);
    font-family: 'Bungee Hairline', monospace !important;
}

/* Center header and make as wide as browser */
header {
    width: 100%;
    margin: 0 auto;
    }

/* Center navbar text and give border */
.navbar {
    text-align: center;
    border-bottom: 1px solid #fff;
}

/* Personalize Bootstrap's jumbotron class */
.jumbotron {
    background-color: #343a40;
    color: #fff;
    font-family: 'Ewert';
    font-size: 100px;
}

/* Style text  in header under "Gem Prospector" */
.instructions {
    font-family: 'Bungee Hairline', monospace;
    font-size: 24px;
    margin-top: 40px;
}

/* Style container holding main content */
.container {
    width: 100%;
    margin: 0px auto;
}

/* Make button width span card and center */
.btn {
    width: 100%;
    margin: 0 auto;
}

/* Style div holding all score values */
.scoreBoard {
    font-family: 'Bungee Hairline', monospace;
    color: #fff;
    background-color: #343a40;
    border: 1px solid #fff;
    text-align: center;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 150%;
}

/* Style content inside scoreBoard class */
.score {
    font-family: 'Ewert', monospace;
    font-size: 60px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #aaa;
}

/* Style footer div */
footer {
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Style text inside footer */
.footer-text {
    color: #fff;
    border-top: 1px solid #fff;
    text-align: center;
    padding: 20px;
}

/* Media queries for different sized screens */
@media screen and (max-width: 768px) and (orientation: portrait){
    body {
        background-image: none;
        background-color: #aaa;
    }
    
    header {
        width: device-width;
    }

    .jumbotron {
        font-size: 36px;
    }

    .card-group {
        display: unset;
    }

    .card{
        max-width: 50%;
        float: left;
        margin: 0;
    }

    .card-footer {
        padding: 0;
    }

    .scoreBoard {
        width: 100%;
        margin-bottom: 5rem;
    }

    #currentScore {
        position: relative;
        top: 10px;
        bottom: 10px;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape){
    body {
        background-image: none;
        background-color: #aaa;
        margin-bottom: 50px;
    }

    header {
        width: device-width;
    }

    .card-group {
        width: 100%;
    }

    .card-footer {
        padding: 0;
    }
}