body {
    width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
}

.row {
    margin: 25px;
}

h1 {
    color: grey;
}

.instructions {
    width: 50%;
    margin: 0 auto;
}

.btn {
    width: 100%;
    margin: 0 auto;
}